In [7]:
%pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tabula-py
  Downloading tabula_py-2.7.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 83.9 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.22.4)
Collecting distro (from tabula-py)
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.8.0 tabula-py-2.7.0

# Import package

In [8]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tabula import read_pdf

# Data collecting

In [ ]:
"""
page = requests.get("http://www.covidmaroc.ma/Pages/LESINFOAR.aspx")
soup = BeautifulSoup(page.content,"html.parser")
date_page = soup.select('td[class = "ms-rteTableOddCol-5"]')
dates_span=[]
for date_span in date_page:
  unique_date  = date_span.select('span', {'class' : "ms-rteTableOddCol-5"})
  dates_span.append(unique_date)
dates_span
dates=[]
for global_date in dates_span:
  for date in global_date:
    cov_date = date.get_text()
    cov_date = cov_date.strip().split('\n')[0]
    dates.append(cov_date)

dates
"""

In [18]:
dates=[]
for month in range(1,13):
  for day in range(1,32):
    if 1 <= month < 10 :
      if 1 <= day < 10 :
        date = "0"+str(day)+"_0"+str(month)+"_2021" 
      else :
        date = str(day)+"_0"+str(month)+"_2021"
    else :
      if 1 <= day < 10 :
        date = "0"+str(day)+"_"+str(month)+"_2021" 
      else :
        date = str(day)+"_"+str(month)+"_2021"
    dates.append(date)

dates.remove('30_02_2021')
dates.remove('31_02_2021')
dates.remove('29_02_2021')
dates

['01_01_2021',
 '02_01_2021',
 '03_01_2021',
 '04_01_2021',
 '05_01_2021',
 '06_01_2021',
 '07_01_2021',
 '08_01_2021',
 '09_01_2021',
 '10_01_2021',
 '11_01_2021',
 '12_01_2021',
 '13_01_2021',
 '14_01_2021',
 '15_01_2021',
 '16_01_2021',
 '17_01_2021',
 '18_01_2021',
 '19_01_2021',
 '20_01_2021',
 '21_01_2021',
 '22_01_2021',
 '23_01_2021',
 '24_01_2021',
 '25_01_2021',
 '26_01_2021',
 '27_01_2021',
 '28_01_2021',
 '29_01_2021',
 '30_01_2021',
 '31_01_2021',
 '01_02_2021',
 '02_02_2021',
 '03_02_2021',
 '04_02_2021',
 '05_02_2021',
 '06_02_2021',
 '07_02_2021',
 '08_02_2021',
 '09_02_2021',
 '10_02_2021',
 '11_02_2021',
 '12_02_2021',
 '13_02_2021',
 '14_02_2021',
 '15_02_2021',
 '16_02_2021',
 '17_02_2021',
 '18_02_2021',
 '19_02_2021',
 '20_02_2021',
 '21_02_2021',
 '22_02_2021',
 '23_02_2021',
 '24_02_2021',
 '25_02_2021',
 '26_02_2021',
 '27_02_2021',
 '28_02_2021',
 '01_03_2021',
 '02_03_2021',
 '03_03_2021',
 '04_03_2021',
 '05_03_2021',
 '06_03_2021',
 '07_03_2021',
 '08_03_2021',
 '09_03_2021',
 '10_03_2021',
 '11_03_2021',
 '12_03_2021',
 '13_03_2021',
 '14_03_2021',
 '15_03_2021',
 '16_03_2021',
 '17_03_2021',
 '18_03_2021',
 '19_03_2021',
 '20_03_2021',
 '21_03_2021',
 '22_03_2021',
 '23_03_2021',
 '24_03_2021',
 '25_03_2021',
 '26_03_2021',
 '27_03_2021',
 '28_03_2021',
 '29_03_2021',
 '30_03_2021',
 '31_03_2021',
 '01_04_2021',
 '02_04_2021',
 '03_04_2021',
 '04_04_2021',
 '05_04_2021',
 '06_04_2021',
 '07_04_2021',
 '08_04_2021',
 '09_04_2021',
 '10_04_2021',
 '11_04_2021',
 '12_04_2021',
 '13_04_2021',
 '14_04_2021',
 '15_04_2021',
 '16_04_2021',
 '17_04_2021',
 '18_04_2021',
 '19_04_2021',
 '20_04_2021',
 '21_04_2021',
 '22_04_2021',
 '23_04_2021',
 '24_04_2021',
 '25_04_2021',
 '26_04_2021',
 '27_04_2021',
 '28_04_2021',
 '29_04_2021',
 '30_04_2021',
 '31_04_2021',
 '01_05_2021',
 '02_05_2021',
 '03_05_2021',
 '04_05_2021',
 '05_05_2021',
 '06_05_2021',
 '07_05_2021',
 '08_05_2021',
 '09_05_2021',
 '10_05_2021',
 '11_05_2021',
 '12_05_2021',
 '13_05_2021',
 '14_05_2021',
 '15_05_2021',
 '16_05_2021',
 '17_05_2021',
 '18_05_2021',
 '19_05_2021',
 '20_05_2021',
 '21_05_2021',
 '22_05_2021',
 '23_05_2021',
 '24_05_2021',
 '25_05_2021',
 '26_05_2021',
 '27_05_2021',
 '28_05_2021',
 '29_05_2021',
 '30_05_2021',
 '31_05_2021',
 '01_06_2021',
 '02_06_2021',
 '03_06_2021',
 '04_06_2021',
 '05_06_2021',
 '06_06_2021',
 '07_06_2021',
 '08_06_2021',
 '09_06_2021',
 '10_06_2021',
 '11_06_2021',
 '12_06_2021',
 '13_06_2021',
 '14_06_2021',
 '15_06_2021',
 '16_06_2021',
 '17_06_2021',
 '18_06_2021',
 '19_06_2021',
 '20_06_2021',
 '21_06_2021',
 '22_06_2021',
 '23_06_2021',
 '24_06_2021',
 '25_06_2021',
 '26_06_2021',
 '27_06_2021',
 '28_06_2021',
 '29_06_2021',
 '30_06_2021',
 '31_06_2021',
 '01_07_2021',
 '02_07_2021',
 '03_07_2021',
 '04_07_2021',
 '05_07_2021',
 '06_07_2021',
 '07_07_2021',
 '08_07_2021',
 '09_07_2021',
 '10_07_2021',
 '11_07_2021',
 '12_07_2021',
 '13_07_2021',
 '14_07_2021',
 '15_07_2021',
 '16_07_2021',
 '17_07_2021',
 '18_07_2021',
 '19_07_2021',
 '20_07_2021',
 '21_07_2021',
 '22_07_2021',
 '23_07_2021',
 '24_07_2021',
 '25_07_2021',
 '26_07_2021',
 '27_07_2021',
 '28_07_2021',
 '29_07_2021',
 '30_07_2021',
 '31_07_2021',
 '01_08_2021',
 '02_08_2021',
 '03_08_2021',
 '04_08_2021',
 '05_08_2021',
 '06_08_2021',
 '07_08_2021',
 '08_08_2021',
 '09_08_2021',
 '10_08_2021',
 '11_08_2021',
 '12_08_2021',
 '13_08_2021',
 '14_08_2021',
 '15_08_2021',
 '16_08_2021',
 '17_08_2021',
 '18_08_2021',
 '19_08_2021',
 '20_08_2021',
 '21_08_2021',
 '22_08_2021',
 '23_08_2021',
 '24_08_2021',
 '25_08_2021',
 '26_08_2021',
 '27_08_2021',
 '28_08_2021',
 '29_08_2021',
 '30_08_2021',
 '31_08_2021',
 '01_09_2021',
 '02_09_2021',
 '03_09_2021',
 '04_09_2021',
 '05_09_2021',
 '06_09_2021',
 '07_09_2021',
 '08_09_2021',
 '09_09_2021',
 '10_09_2021',
 '11_09_2021',
 '12_09_2021',
 '13_09_2021',
 '14_09_2021',
 '15_09_2021',
 '16_09_2021',
 '17_09_2021',
 '18_09_2021',
 '19_09_2021',
 '20_09_2021',
 '21_09_2021',
 '22_09_2021',
 '23_09_2021',
 '24_09_2021',
 '25_09_2021',
 '26_09_2021',
 '27_09_2021',
 '28_09_2021',
 '29_09_2021',
 '30_09_2021',
 '31_09_2021',
 '01_10_2021',
 '02_10_2021',
 '03_10_2021',
 '04_10_2021',
 '05_10_2021',
 '06_10_2021',
 '07_10_2021',
 '08_10_2021',
 '09_10_2021',
 '10_10_2021',
 '11_10_2021',
 '12_10_2021',
 '13_10_2021',
 '14_10_2021',
 '15_10_2021',
 '16_10_2021',
 '17_10_2021',
 '18_10_2021',
 '19_10_2021',
 '20_10_2021',
 '21_10_2021',
 '22_10_2021',
 '23_10_2021',
 '24_10_2021',
 '25_10_2021',
 '26_10_2021',
 '27_10_2021',
 '28_10_2021',
 '29_10_2021',
 '30_10_2021',
 '31_10_2021',
 '01_11_2021',
 '02_11_2021',
 '03_11_2021',
 '04_11_2021',
 '05_11_2021',
 '06_11_2021',
 '07_11_2021',
 '08_11_2021',
 '09_11_2021',
 '10_11_2021',
 '11_11_2021',
 '12_11_2021',
 '13_11_2021',
 '14_11_2021',
 '15_11_2021',
 '16_11_2021',
 '17_11_2021',
 '18_11_2021',
 '19_11_2021',
 '20_11_2021',
 '21_11_2021',
 '22_11_2021',
 '23_11_2021',
 '24_11_2021',
 '25_11_2021',
 '26_11_2021',
 '27_11_2021',
 '28_11_2021',
 '29_11_2021',
 '30_11_2021',
 '31_11_2021',
 '01_12_2021',
 '02_12_2021',
 '03_12_2021',
 '04_12_2021',
 '05_12_2021',
 '06_12_2021',
 '07_12_2021',
 '08_12_2021',
 '09_12_2021',
 '10_12_2021',
 '11_12_2021',
 '12_12_2021',
 '13_12_2021',
 '14_12_2021',
 '15_12_2021',
 '16_12_2021',
 '17_12_2021',
 '18_12_2021',
 '19_12_2021',
 '20_12_2021',
 '21_12_2021',
 '22_12_2021',
 '23_12_2021',
 '24_12_2021',
 '25_12_2021',
 '26_12_2021',
 '27_12_2021',
 '28_12_2021',
 '29_12_2021',
 '30_12_2021',
 '31_12_2021']

In [19]:
Covid_dataSet_dict = {
    "Deaths":dates,
    "Cases":dates,
    "dates":dates,
    "Regions":dates
}
Covid_dataSet = pd.DataFrame(Covid_dataSet_dict)
Covid_dataSet

         Deaths       Cases       dates     Regions
0    01_01_2021  01_01_2021  01_01_2021  01_01_2021
1    02_01_2021  02_01_2021  02_01_2021  02_01_2021
2    03_01_2021  03_01_2021  03_01_2021  03_01_2021
3    04_01_2021  04_01_2021  04_01_2021  04_01_2021
4    05_01_2021  05_01_2021  05_01_2021  05_01_2021
..          ...         ...         ...         ...
364  27_12_2021  27_12_2021  27_12_2021  27_12_2021
365  28_12_2021  28_12_2021  28_12_2021  28_12_2021
366  29_12_2021  29_12_2021  29_12_2021  29_12_2021
367  30_12_2021  30_12_2021  30_12_2021  30_12_2021
368  31_12_2021  31_12_2021  31_12_2021  31_12_2021

[369 rows x 4 columns]

In [25]:
df = read_pdf("Morocco.pdf",pages="all",stream="True")

   Région Laâyoune - Sakia El Hamra  80   2  جهة العيون الساقية الحمراء
0                               NaN NaN NaN                           4

In [32]:
df[-1]

                       Marrakech    184     4               مراكش
0                           Safi   87.0   NaN                 آسف
1                            NaN    NaN   NaN                 NaN
2                      Essaouira   65.0   NaN             الصويرة
3                            NaN    NaN   NaN                 NaN
4                     Youssoufia   59.0   1.0            اليوسفية
5                        Rehamna   53.0   1.0            الرحامنة
6                      Chichaoua   48.0   1.0              شيشاوة
7          El Kelâa des  Sraghna   42.0   1.0       قلعة السراغنة
8                      Al  Haouz    5.0   1.0               الحوز
9           Région Souss - Massa  476.0  12.0        جهة سوس ماسة
10                    Taroudannt  152.0   3.0            تارودانت
11         Inezgane- Ait Melloul  116.0   1.0     إنزكان آيت ملول
12         Agadir-Ida -Ou-Tanane  106.0   3.0    أكادير إدا وتنان
13                        Tiznit   48.0   3.0               تزنيت
14             Chtouka- Ait Baha   45.0   1.0     اشتوكة آيت باها
15                          Tata    9.0   1.0                طاطا
16           Région Fès - Meknès  365.0   3.0       جهة فاس مكناس
17                           Fès  151.0   2.0                 فاس
18                          Taza   61.0   NaN                تازة
19                           NaN    NaN   NaN                 NaN
20                     El  Hajeb   45.0   1.0              الحاجب
21                      Taounate   41.0   NaN              تاونات
22                           NaN    NaN   NaN                 NaN
23                        Sefrou   29.0   NaN                صفرو
24                           NaN    NaN   NaN                 NaN
25                        Meknès   26.0   NaN               مكناس
26                           NaN    NaN   NaN                 NaN
27                Moulay Yaacoub    8.0   NaN         مولاي يعقوب
28                           NaN    NaN   NaN                 NaN
29                        Ifrane    4.0   NaN               إفران
30                           NaN    NaN   NaN                 NaN
31  Région Beni Mellal- Khénifra  362.0  10.0  جهة بن ملال خنيفرة
32                      Khénifra   98.0   1.0              خنيفرة
33               Fquih Ben Salah   95.0   NaN      الفقيه بن صالح
34                           NaN    NaN   NaN                 NaN
35                   Béni Mellal   82.0   8.0             بن ملال
36                     Khouribga   72.0   1.0              خريبكة
37                        Azilal   15.0   NaN              أزيلال
38                           NaN    NaN   NaN                 NaN
39         Région Drâa-Tafilalet  248.0   7.0   جهة درعة تافيلالت
40                    Errachidia   77.0   2.0            الرشيدية
41                    Ouarzazate   73.0   1.0              ورززات
42                       Tinghir   44.0   3.0                تنغي
43                        Midelt   29.0   1.0               ميدلت
44                        Zagora   25.0   NaN              زاكورة
45                           NaN    NaN   NaN                 NaN
46     Région Guelmim –Oued Noun  174.0   4.0   جهة كلميم واد نون
47                       Guelmim   97.0   1.0               كلميم
48                       Tan Tan   40.0   3.0             طان طان

In [35]:
df[-1].values

array([['Safi', 87.0, nan, 'آسف'],
       [nan, nan, nan, nan],
       ['Essaouira', 65.0, nan, 'الصويرة'],
       [nan, nan, nan, nan],
       ['Youssoufia', 59.0, 1.0, 'اليوسفية'],
       ['Rehamna', 53.0, 1.0, 'الرحامنة'],
       ['Chichaoua', 48.0, 1.0, 'شيشاوة'],
       ['El Kelâa des  Sraghna', 42.0, 1.0, 'قلعة السراغنة'],
       ['Al  Haouz', 5.0, 1.0, 'الحوز'],
       ['Région Souss - Massa', 476.0, 12.0, 'جهة سوس ماسة'],
       ['Taroudannt', 152.0, 3.0, 'تارودانت'],
       ['Inezgane- Ait Melloul', 116.0, 1.0, 'إنزكان آيت ملول'],
       ['Agadir-Ida -Ou-Tanane', 106.0, 3.0, 'أكادير إدا وتنان'],
       ['Tiznit', 48.0, 3.0, 'تزنيت'],
       ['Chtouka- Ait Baha', 45.0, 1.0, 'اشتوكة آيت باها'],
       ['Tata', 9.0, 1.0, 'طاطا'],
       ['Région Fès - Meknès', 365.0, 3.0, 'جهة فاس مكناس'],
       ['Fès', 151.0, 2.0, 'فاس'],
       ['Taza', 61.0, nan, 'تازة'],
       [nan, nan, nan, nan],
       ['El  Hajeb', 45.0, 1.0, 'الحاجب'],
       ['Taounate', 41.0, nan, 'تاونات'],
       [nan, nan, nan, nan],
       ['Sefrou', 29.0, nan, 'صفرو'],
       [nan, nan, nan, nan],
       ['Meknès', 26.0, nan, 'مكناس'],
       [nan, nan, nan, nan],
       ['Moulay Yaacoub', 8.0, nan, 'مولاي يعقوب'],
       [nan, nan, nan, nan],
       ['Ifrane', 4.0, nan, 'إفران'],
       [nan, nan, nan, nan],
       ['Région Beni Mellal- Khénifra', 362.0, 10.0,
        'جهة بن ملال خنيفرة'],
       ['Khénifra', 98.0, 1.0, 'خنيفرة'],
       ['Fquih Ben Salah', 95.0, nan, 'الفقيه بن صالح'],
       [nan, nan, nan, nan],
       ['Béni Mellal', 82.0, 8.0, 'بن ملال'],
       ['Khouribga', 72.0, 1.0, 'خريبكة'],
       ['Azilal', 15.0, nan, 'أزيلال'],
       [nan, nan, nan, nan],
       ['Région Drâa-Tafilalet', 248.0, 7.0, 'جهة درعة تافيلالت'],
       ['Errachidia', 77.0, 2.0, 'الرشيدية'],
       ['Ouarzazate', 73.0, 1.0, 'ورززات'],
       ['Tinghir', 44.0, 3.0, 'تنغي'],
       ['Midelt', 29.0, 1.0, 'ميدلت'],
       ['Zagora', 25.0, nan, 'زاكورة'],
       [nan, nan, nan, nan],
       ['Région Guelmim –Oued Noun', 174.0, 4.0, 'جهة كلميم واد نون'],
       ['Guelmim', 97.0, 1.0, 'كلميم'],
       ['Tan Tan', 40.0, 3.0, 'طان طان']], dtype=object)