In [ ]:
# %pip install tabula-py

# Import package

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from tabula import read_pdf

# Data collecting

In [ ]:
"""
page = requests.get("http://www.covidmaroc.ma/Pages/LESINFOAR.aspx")
soup = BeautifulSoup(page.content,"html.parser")
date_page = soup.select('td[class = "ms-rteTableOddCol-5"]')
dates_span=[]
for date_span in date_page:
  unique_date  = date_span.select('span', {'class' : "ms-rteTableOddCol-5"})
  dates_span.append(unique_date)
dates_span
dates=[]
for global_date in dates_span:
  for date in global_date:
    cov_date = date.get_text()
    cov_date = cov_date.strip().split('\n')[0]
    dates.append(cov_date)

dates
"""

In [ ]:
dates=[]
for month in range(1,13):
  for day in range(1,32):
    if 1 <= month < 10 :
      if 1 <= day < 10 :
        date = "0"+str(day)+"/0"+str(month)+"/2023" 
      else :
        date = str(day)+"/0"+str(month)+"/2023"
    else :
      if 1 <= day < 10 :
        date = "0"+str(day)+"/"+str(month)+"/2023" 
      else :
        date = str(day)+"/"+str(month)+"/2023"
    dates.append(date)

dates.remove('30/02/2023')
dates.remove('31/02/2023')
dates.remove('29/02/2023')
dates

['01/01/2023',
 '02/01/2023',
 '03/01/2023',
 '04/01/2023',
 '05/01/2023',
 '06/01/2023',
 '07/01/2023',
 '08/01/2023',
 '09/01/2023',
 '10/01/2023',
 '11/01/2023',
 '12/01/2023',
 '13/01/2023',
 '14/01/2023',
 '15/01/2023',
 '16/01/2023',
 '17/01/2023',
 '18/01/2023',
 '19/01/2023',
 '20/01/2023',
 '21/01/2023',
 '22/01/2023',
 '23/01/2023',
 '24/01/2023',
 '25/01/2023',
 '26/01/2023',
 '27/01/2023',
 '28/01/2023',
 '29/01/2023',
 '30/01/2023',
 '31/01/2023',
 '01/02/2023',
 '02/02/2023',
 '03/02/2023',
 '04/02/2023',
 '05/02/2023',
 '06/02/2023',
 '07/02/2023',
 '08/02/2023',
 '09/02/2023',
 '10/02/2023',
 '11/02/2023',
 '12/02/2023',
 '13/02/2023',
 '14/02/2023',
 '15/02/2023',
 '16/02/2023',
 '17/02/2023',
 '18/02/2023',
 '19/02/2023',
 '20/02/2023',
 '21/02/2023',
 '22/02/2023',
 '23/02/2023',
 '24/02/2023',
 '25/02/2023',
 '26/02/2023',
 '27/02/2023',
 '28/02/2023',
 '01/03/2023',
 '02/03/2023',
 '03/03/2023',
 '04/03/2023',
 '05/03/2023',
 '06/03/2023',
 '07/03/2023',
 '08/03/2023',
 '09/03/2023',
 '10/03/2023',
 '11/03/2023',
 '12/03/2023',
 '13/03/2023',
 '14/03/2023',
 '15/03/2023',
 '16/03/2023',
 '17/03/2023',
 '18/03/2023',
 '19/03/2023',
 '20/03/2023',
 '21/03/2023',
 '22/03/2023',
 '23/03/2023',
 '24/03/2023',
 '25/03/2023',
 '26/03/2023',
 '27/03/2023',
 '28/03/2023',
 '29/03/2023',
 '30/03/2023',
 '31/03/2023',
 '01/04/2023',
 '02/04/2023',
 '03/04/2023',
 '04/04/2023',
 '05/04/2023',
 '06/04/2023',
 '07/04/2023',
 '08/04/2023',
 '09/04/2023',
 '10/04/2023',
 '11/04/2023',
 '12/04/2023',
 '13/04/2023',
 '14/04/2023',
 '15/04/2023',
 '16/04/2023',
 '17/04/2023',
 '18/04/2023',
 '19/04/2023',
 '20/04/2023',
 '21/04/2023',
 '22/04/2023',
 '23/04/2023',
 '24/04/2023',
 '25/04/2023',
 '26/04/2023',
 '27/04/2023',
 '28/04/2023',
 '29/04/2023',
 '30/04/2023',
 '31/04/2023',
 '01/05/2023',
 '02/05/2023',
 '03/05/2023',
 '04/05/2023',
 '05/05/2023',
 '06/05/2023',
 '07/05/2023',
 '08/05/2023',
 '09/05/2023',
 '10/05/2023',
 '11/05/2023',
 '12/05/2023',
 '13/05/2023',
 '14/05/2023',
 '15/05/2023',
 '16/05/2023',
 '17/05/2023',
 '18/05/2023',
 '19/05/2023',
 '20/05/2023',
 '21/05/2023',
 '22/05/2023',
 '23/05/2023',
 '24/05/2023',
 '25/05/2023',
 '26/05/2023',
 '27/05/2023',
 '28/05/2023',
 '29/05/2023',
 '30/05/2023',
 '31/05/2023',
 '01/06/2023',
 '02/06/2023',
 '03/06/2023',
 '04/06/2023',
 '05/06/2023',
 '06/06/2023',
 '07/06/2023',
 '08/06/2023',
 '09/06/2023',
 '10/06/2023',
 '11/06/2023',
 '12/06/2023',
 '13/06/2023',
 '14/06/2023',
 '15/06/2023',
 '16/06/2023',
 '17/06/2023',
 '18/06/2023',
 '19/06/2023',
 '20/06/2023',
 '21/06/2023',
 '22/06/2023',
 '23/06/2023',
 '24/06/2023',
 '25/06/2023',
 '26/06/2023',
 '27/06/2023',
 '28/06/2023',
 '29/06/2023',
 '30/06/2023',
 '31/06/2023',
 '01/07/2023',
 '02/07/2023',
 '03/07/2023',
 '04/07/2023',
 '05/07/2023',
 '06/07/2023',
 '07/07/2023',
 '08/07/2023',
 '09/07/2023',
 '10/07/2023',
 '11/07/2023',
 '12/07/2023',
 '13/07/2023',
 '14/07/2023',
 '15/07/2023',
 '16/07/2023',
 '17/07/2023',
 '18/07/2023',
 '19/07/2023',
 '20/07/2023',
 '21/07/2023',
 '22/07/2023',
 '23/07/2023',
 '24/07/2023',
 '25/07/2023',
 '26/07/2023',
 '27/07/2023',
 '28/07/2023',
 '29/07/2023',
 '30/07/2023',
 '31/07/2023',
 '01/08/2023',
 '02/08/2023',
 '03/08/2023',
 '04/08/2023',
 '05/08/2023',
 '06/08/2023',
 '07/08/2023',
 '08/08/2023',
 '09/08/2023',
 '10/08/2023',
 '11/08/2023',
 '12/08/2023',
 '13/08/2023',
 '14/08/2023',
 '15/08/2023',
 '16/08/2023',
 '17/08/2023',
 '18/08/2023',
 '19/08/2023',
 '20/08/2023',
 '21/08/2023',
 '22/08/2023',
 '23/08/2023',
 '24/08/2023',
 '25/08/2023',
 '26/08/2023',
 '27/08/2023',
 '28/08/2023',
 '29/08/2023',
 '30/08/2023',
 '31/08/2023',
 '01/09/2023',
 '02/09/2023',
 '03/09/2023',
 '04/09/2023',
 '05/09/2023',
 '06/09/2023',
 '07/09/2023',
 '08/09/2023',
 '09/09/2023',
 '10/09/2023',
 '11/09/2023',
 '12/09/2023',
 '13/09/2023',
 '14/09/2023',
 '15/09/2023',
 '16/09/2023',
 '17/09/2023',
 '18/09/2023',
 '19/09/2023',
 '20/09/2023',
 '21/09/2023',
 '22/09/2023',
 '23/09/2023',
 '24/09/2023',
 '25/09/2023',
 '26/09/2023',
 '27/09/2023',
 '28/09/2023',
 '29/09/2023',
 '30/09/2023',
 '31/09/2023',
 '01/10/2023',
 '02/10/2023',
 '03/10/2023',
 '04/10/2023',
 '05/10/2023',
 '06/10/2023',
 '07/10/2023',
 '08/10/2023',
 '09/10/2023',
 '10/10/2023',
 '11/10/2023',
 '12/10/2023',
 '13/10/2023',
 '14/10/2023',
 '15/10/2023',
 '16/10/2023',
 '17/10/2023',
 '18/10/2023',
 '19/10/2023',
 '20/10/2023',
 '21/10/2023',
 '22/10/2023',
 '23/10/2023',
 '24/10/2023',
 '25/10/2023',
 '26/10/2023',
 '27/10/2023',
 '28/10/2023',
 '29/10/2023',
 '30/10/2023',
 '31/10/2023',
 '01/11/2023',
 '02/11/2023',
 '03/11/2023',
 '04/11/2023',
 '05/11/2023',
 '06/11/2023',
 '07/11/2023',
 '08/11/2023',
 '09/11/2023',
 '10/11/2023',
 '11/11/2023',
 '12/11/2023',
 '13/11/2023',
 '14/11/2023',
 '15/11/2023',
 '16/11/2023',
 '17/11/2023',
 '18/11/2023',
 '19/11/2023',
 '20/11/2023',
 '21/11/2023',
 '22/11/2023',
 '23/11/2023',
 '24/11/2023',
 '25/11/2023',
 '26/11/2023',
 '27/11/2023',
 '28/11/2023',
 '29/11/2023',
 '30/11/2023',
 '31/11/2023',
 '01/12/2023',
 '02/12/2023',
 '03/12/2023',
 '04/12/2023',
 '05/12/2023',
 '06/12/2023',
 '07/12/2023',
 '08/12/2023',
 '09/12/2023',
 '10/12/2023',
 '11/12/2023',
 '12/12/2023',
 '13/12/2023',
 '14/12/2023',
 '15/12/2023',
 '16/12/2023',
 '17/12/2023',
 '18/12/2023',
 '19/12/2023',
 '20/12/2023',
 '21/12/2023',
 '22/12/2023',
 '23/12/2023',
 '24/12/2023',
 '25/12/2023',
 '26/12/2023',
 '27/12/2023',
 '28/12/2023',
 '29/12/2023',
 '30/12/2023',
 '31/12/2023']

In [ ]:
Covid_dataSet_dict = {
    "Deaths":dates,
    "Cases":dates,
    "dates":dates,
    "Regions":dates
}
Covid_dataSet = pd.DataFrame(Covid_dataSet_dict)
Covid_dataSet

         Deaths       Cases       dates     Regions
0    01/01/2023  01/01/2023  01/01/2023  01/01/2023
1    02/01/2023  02/01/2023  02/01/2023  02/01/2023
2    03/01/2023  03/01/2023  03/01/2023  03/01/2023
3    04/01/2023  04/01/2023  04/01/2023  04/01/2023
4    05/01/2023  05/01/2023  05/01/2023  05/01/2023
..          ...         ...         ...         ...
364  27/12/2023  27/12/2023  27/12/2023  27/12/2023
365  28/12/2023  28/12/2023  28/12/2023  28/12/2023
366  29/12/2023  29/12/2023  29/12/2023  29/12/2023
367  30/12/2023  30/12/2023  30/12/2023  30/12/2023
368  31/12/2023  31/12/2023  31/12/2023  31/12/2023

[369 rows x 4 columns]

In [ ]:
df = read_pdf("Morocco.pdf",pages="all",stream="True") 
print(df)

[            الحملة الوطنية للتلقيح ضد السارس كوف  2-
0      National anti-SARS-CoV-2 vaccination campaign
1  Campagne nationale de vaccination anti- SARS-C...
2                  المستفيدات والمستفيدون من التلقيح
3                          Recipients of vaccination
4                    Bénéficiaires de la vaccination
5  الجرعة الولى الجرعة الثانية الجرعة الثالثة الج...
6                4th Dose 3rd Dose 2nd Dose 1st Dose
7             45 975 6 786 712 23 394 402 24 900 360,          Unnamed: 0  نس بة  التعافي Unnamed: 1                معدل الفتك  \
0     Recovery rate             NaN      98.7%  Case Fatality Rate (CFR)
1  Taux de guérison             NaN        NaN          Taux de létalité

  Unnamed: 2
0       1.3%
1        NaN  ,                                    Severe COVID-19  Unnamed: 0  \
0                                   Covidose grave         NaN
1                الحالات الجديدة في 24 ساعة الخيرة         NaN
2              New admissions in the last 24 hours         NaN
3                     Nouvelles admissions des 24h         1.0
4                                              NaN         NaN
5              اجمالي الحالات تحت التنفس الاصطناعي         NaN
6  Total number of cases on artificial respiration         2.0
7      Total des cas sous respiration artificielle         NaN

                             Unnamed: 1  كوفيد الخطير
0                                   NaN           NaN
1    العدد الاجمالي للحالات المتكفل بها           NaN
2                   Total number of ICU           NaN
3                    hospitalized cases           9.0
4          Total des cas pris en charge           NaN
5  حالات تحت التنفس الاصطناعي الاخ تاقي           NaN
6             Number of intubated cases           0.0
7                      Dont cas intubés           NaN  ,             التوزيع الجغرافي للحالات الجديدة والوفيات
0   Geographical distribution of new cases and deaths
1   Distribution régionale des nouveaux cas et des...
2                                                 NaN
3     جهات Régions Regions/  الحالات الجديدة  الوفيات
4   Province & Préfecture Cases/Cas  Deaths/Décès ...
5   Grand Casablanca-Settat  11 0 جهة الدار البيضا...
6                          Casablanca 9 الدار البيضاء
7                                  Nouaceur 2 النواصر
8     Rabat-Salé-Kénitra  4 0 جهة الرباط سلا القنيطرة
9                                      Rabat 3 الرباط
10                                         Salé 1 سلا
11                     Souss -Massa  2 0 جهة سوس ماسة
12                              Taroudannt 2 تارودانت
13                  Marrakech-Safi  1 0 جهة مراكش آسف
14                                  Marrakech 1 مراكش
15      Tanger-Tétouan-Al Hoceima  1 0 جهة طنجة تطوان
16                                            الحسيمة
17                      M'Diq-Fnideq 1 المضيق الفنيدق
18                             Oriental  1 0 جهة الشق
19                                    Nador 1 الناظور]